.about img{
    border-radius: 8px;
    max-width: 100%;
    /* width: 900px;  */
    margin-left: 1%;
}

.about {
    margin-top: 0;
    margin-left: 7%;
    position: relative;
    z-index: 30; 
    animation: slide-down 600ms ease-out forwards;
}

.aboutText {
    color: black;
    font-family: Avant Garde;
    font-size: 12;
    width: fit-content;
    max-width: 100%;
    text-align: justify;
    display: inline-block;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
}

.aboutText h2 {
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* .mainContainer {
  display: flex;
}

.wearableComputer{
  margin: 2%;
} */

.aboutmebox {
margin: 2%;
/* position: absolute; */
width: 30%;
/* right: 0px; */
  align-items: center;
  float: right;
  flex-direction: row;
  background-color: rgba(255,255,255,0.80);
  border-radius: 8px;
  border: 1px solid rgb(184, 170, 170);
  z-index: 30; 
animation: slide-down 600ms ease-out forwards;
margin-right: 5%;
}


@keyframes slide-down {
from {
opacity: 0;
transform: translateY(-3rem);
}
to {
opacity: 1;
transform: translateY(0);
}}

@media screen and (max-width: 600px) {
    .about {
        display: none;
    }

    .mothman {
      display: none;
    }

    .aboutmebox {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 8%;
        display: flex;
        width: 90%;
          background-color: rgba(255,255,255,0.8);
          border-radius: 8px;
          z-index: 30; 
        animation: slide-down 600ms ease-out forwards;
        }
    .aboutText{
        width:100%;
    }
  }

  @media screen and (min-width: 600px) {
    .smallpicture {
        display: none;
    }
  }

  .smallpicture img{
    margin-top: 22%;
    border-radius: 8px;
    max-width: 100%;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    display: block;
    z-index: 30; 
    animation: slide-down 600ms ease-out forwards;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  .mothman {
    margin-top: 22%;
    border-radius: 8px;
    max-width: 100%;
    width: 2%;
    margin-right: 5%;
    margin-left: 5%;
    display: block;
    z-index: 30; 
    animation: slide-down 600ms ease-out forwards;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }