
.contactContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

form{
    /* background: white; */
    display: flex;
    flex-direction: column;
    padding: 2vw, 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h4{
    font-family: Avant Garde;
    font-weight: 800;
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
}

form input, form textarea{
    border: 0px;
    margin: 10px, 0;
    margin-bottom: 10px;
    padding: 20px;
    outline: none;
    background: gainsboro;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: rgb(128, 16, 16);
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
    margin-bottom: 10px;
    font-family: Avant Garde;
}

@media screen and (max-width: 990px) {
    .contactContainer{
        margin-top: 20%;
    }


}