.video {
    border: 0px;
    width: 700px;
    max-width: 100%;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    justify-content: center;
    /* padding: 5%; */
}

.pythonBrief{
    font-size: 12;
    color: black;
    font-family: Avant Garde;
    margin-left: 2%;
    margin-right: 0;
    text-align: justify;
    max-width: 100%;
    /* width: 500px; */
    width: 90%;
    margin-top: 0;
}

.pythonBrief ul{
    list-style-position: inside;
    padding: 0;
}

.pythonBrief h2{
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: left;
}

.videoDiv{
    float: right;
    margin-right: 10%;
    margin-left: 0;
    max-width: 90%;
}

.description {
    display: block;
    /* position: relative; */
    background-color: rgba(255,255,255,0.8);
    border-radius: 8px;
    margin-right: 2%;
    margin-left: 3%;
    padding-bottom: 1%;
    border: 5px black;
    z-index: 30; 
    animation: slide-down 600ms ease-out forwards;
    border: 1px solid rgb(184, 170, 170);


}


/* /* @media (min-width: 768px) {
.modal {
  width: 40rem;
  left: calc(50% - 20rem);
}
} */

@keyframes slide-down {
from {
  opacity: 0;
  transform: translateY(-3rem);
}
to {
  opacity: 1;
  transform: translateY(0);
}
} 


@media screen and (max-width: 990px) {
    .video {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 900px;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    /* position: relative; */
    max-height: 100%;
    padding: 5%;
    padding-bottom: 0;
    }

    .videoDiv {
        float:none;
        margin-right: 15%;
        margin-left: 10%;
        margin-bottom: 0;
        margin-top: 0;
    }

    .pythonBrief h2{
        margin-top: 0;
    }

    .description {
        margin-top: 15%;
    }


}

@media screen and (min-width: 990px) {
    .video {
    height: 500px;
    }
}