.socialLinks {
    font-size: 50px;
    float: right;
    margin-right: 2%;
}

.github {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    color:rgb(42, 40, 40);

}

.linkedIn {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    color:rgb(42, 40, 40);
}

.github :hover {
    color: rgb(86, 82, 82) ;
    cursor: pointer;
    transform: scale(1.2);
}

.linkedIn :hover {
    color: rgb(86, 82, 82) ;
    cursor: pointer;
    transform: scale(1.2);
}

@media screen and (max-width: 600px) {
    .socialLinks {
        font-size: 40px;
        float: right;
        margin-left: 4%;
    }
}


